#root {
  margin-top: -20px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(109, 142, 177);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vw;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0px;
}
